<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Merry Christmas</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <%- include('partials/santa.ejs')%>
  </body>
</html>
